* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  width: 100% !important;
  /* 设置为100%，不然element的弹出窗会改变页面宽度 */
}

#app {
  height: 100%;
  width: 100%;
}

@forward "element-plus/theme-chalk/src/dark/var.scss" with (
  $bg-color: ("page": #0a0a0a, "": #626aef, "overlay": #1d1e1f)
);
